.gallery img{
    width: 100%
}

h2{
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    color: turquoise;
    font-style: italic;
}

h4{
    font-family: fantasy;
    text-align: center;
    font-size: 20px;
    color: turquoise;
    font-style: italic;
}

p{
    font-family: Helvetica, sans-serif;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: darkblue;
    padding-top: 12px;
}

#menu a{
    color: gray;
    font-size: 18px;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: dodgerblue;